CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/
.vscode
build.log
ps5upload/

# Scratch & test files
*.o
*.py
test_*
*.zip
data/*.elf
frontend/node_modules/
frontend/dist/
node-v22.14.0-linux-x64/
node-v20.12.2-linux-x64/
